@model IEnumerable<BigBrotherO365.Data.O365Subscription>

<h2>Subscriptions</h2>

<p>
    <a asp-action="Start">Create New</a>
</p>

@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>Content Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @item.contentType
            </td>
            <td>
                @item.status
            </td>
            <td>
                @Html.ActionLink("Stop", "Stop", new { id=item.contentType }) |
                @Html.ActionLink("Details", "Index", "Activity", new { id = item.contentType })
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <div class="alert alert-danger">Currently there are no active subscriptions !</div>

}
